.outer_bodyy{
    background-color: lightgrey;
    height: 100vh;
    padding-top: 30vh
}
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

.bodyy{
    background-color:white;
    height: 35vh;
    box-shadow: 5px 5px 5px 5px grey;
    width: 60vh;
    margin-left: 65vh;
    padding:5vh;
    border-radius: 5px ;
    padding-left: 5vh;

}
.bodyy h2{
    margin-left: 20vh;
    text-shadow: 2px 2px grey;
}
.each_field h5{
    padding:1vh 3vh;
    font-family: 'Lato', sans-serif;

}
.each_field label{
    margin-right: 2vh;
    
}
.buttonEdit{
    background-color: white;
    box-shadow: 2px 2px black;
    border: 2px solid  black;
    color: black;
    margin-left:20vh;
    width: 12vh;
    padding:auto;
    margin-top: 1vh;
}
.buttonEdit:hover{
    background-color: lightgray;
    color: white;
    border: 2px solid  black;

}
.bodyy p{
    text-align: center;
    font-size: 15px;
    margin-top: 2vh;

}
